In [1]:
import pandas as pd
import glob

path = r'/Users/stevalang/Galvanize/capstones/capstone2/car_price'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

cars = pd.concat(li, axis=0, ignore_index=True)

In [2]:
#save the dataframes into csv file
cars.to_csv("all_cities.csv")

In [5]:
cars.shape

(15000, 6)

In [11]:
cars.head()

,Unnamed: 0,Price,Location,Title,Link,Date
0,0,"$16,033",CALL 916-304-9616 !!,2014 Honda Accord Sedan LX sedan Modern Steel ...,https://sacramento.craigslist.org/ctd/d/sacram...,Mar 30
1,1,"$32,088",CALL 916-304-9616 !!,2018 Ram 1500 Harvest pickup Brilliant Black C...,https://sacramento.craigslist.org/ctd/d/sacram...,Mar 30
2,2,"$16,688",CALL 916-304-9616 !!,2015 Lexus ES 350 With Navigation and Premium ...,https://sacramento.craigslist.org/ctd/d/sacram...,Mar 30
3,3,"$11,878",CALL 916-304-9616 !!,2015 Honda Civic Coupe EX coupe Crystal Black ...,https://sacramento.craigslist.org/ctd/d/sacram...,Mar 30
4,4,"$17,999",CALL 916-304-9616 !!,2018 Hyundai Santa Fe Sport 2.4L suv Nightfall...,https://sacramento.craigslist.org/ctd/d/sacram...,Mar 30